/* imports files */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("bootstrap.min.css");
@import url("bootstrap.css");
.container-fluid {
	font-style: Lato;
}
.firstclass {
	background-color: rgb(247, 235, 170);
	height: 40vh;
}
.firstcontent{
	padding-top: 14vh;
}
.howit {
	font-size: 45px;
	font-weight: bold;
}
.myform {
	background-color: rgb(245, 245, 245);
}
.mycard {
	height: 50vh;
}
.footer {
	height: 10vh;
	background-color: rgb(167, 172, 161);
}
.footer p {
	text-align: center;
	padding-top: 3vh;
	font-size: 20px;
}
