/* imports files */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rye&display=swap&subset=latin-ext");
@import url("bootstrap.min.css");
@import url("bootstrap.css");
.container-fluid {
	font-style: Lato;
}
main {
	font-family: Lato, sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
		"Trebuchet MS", sans-serif;
}
.firstclass {
	background-color: rgb(247, 235, 170);
	height: 40vh;
}
.firstcontent {
	padding-top: 14vh;
}
.myhead {
	font-family: "Rye", cursive;
	font-size: 40px;
}
.howit {
	font-size: 45px;
	padding-top: 20px;
	font-weight: bold;
	font-family: "Rye", cursive;
}
.myform {
	background-color: rgb(245, 245, 245);
}
.mycard {
	height: 50vh;
}
.footer {
	height: 10vh;
	background-color: rgb(167, 172, 161);
}
.footer p {
	text-align: center;
	padding-top: 3vh;
	font-size: 20px;
}
.cardx {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 3vh;
}
.cardx > p {
	font-family: "Rye", cursive;
	font-size: 30px;
	color: blue;
}
.cardx > p > span {
	color: gold;
}
.myradio {
	padding-top: 10px;
}
.myalert {
	text-align: center;
}
